In [37]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [20]:
# Separating the inputs and the outputs from the dataset
output_target = df['price_range']

input_data = df.drop('price_range',axis='columns')

In [17]:
# since macine learning algorithims can only work with numbers, then 
# convert the words to numbers using encoders from sklearn

# importing labelEncoder from sklearn libary
# this code is not needed because we are working with
# a dataset in which all the data in each column are in numbers
# therefore we dont need to encode any labels

# but ust in case you have a dataset that requires label encoding, 
# you can run this celll, if you run you will get an error

from sklearn.preprocessing import LabelEncoder

def LabelEncod(input_data):
    # the input_data must be a pandas dataframe 
     
    for i in input_data:
        try:
            tempEncode = LabelEncoder()
            input_data['Encoded'+str(i)] = tempEncode.fit_transform(input_data[i])
        except e:
            continue
        
        
    return

In [26]:
# USING THE DECISION TREE MACHINE LEARNING ALGORITHIM FROM SKLEARN

from sklearn import tree
# CREATING A MODEL TO E TRAINED
PhonePrice_model = tree.DecisionTreeClassifier()

In [27]:
# TRAINING THE MODEL USING THE TRAIN DATA SET
PhonePrice_model.fit(input_data, output_target)

DecisionTreeClassifier()

In [29]:
# checking to see if the score will be 1 for the same dataset
PhonePrice_model.score(input_data, output_target)

1.0

In [46]:
# now prediction the price for the phones in the test dataset


# getting the data
df_test = pd.read_csv("test .csv") # noting that the test.csv file naming has a space like "test .csv"

In [47]:
# filtering the dataaset and removing the columns that are not needed for training the dataset

 
# Remove column name 'id
df_test = df_test.drop(['id'], axis=1)

In [48]:
# predicting for the test dataset
test_output = PhonePrice_model.predict(df_test)

In [49]:
# adding the pridicted prices to the dataframe
df_test['price_range'] = np.array(test_output)
df_test

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1043,1,1.8,1,14,0,5,0.1,193,3,...,226,1412,3476,12,7,2,0,1,0,3
1,841,1,0.5,1,4,1,61,0.8,191,5,...,746,857,3895,6,0,7,1,0,0,3
2,1807,1,2.8,0,1,0,27,0.9,186,3,...,1270,1366,2396,17,10,10,0,1,1,2
3,1546,0,0.5,1,18,1,25,0.5,96,8,...,295,1752,3893,10,0,7,1,1,0,3
4,1434,0,1.4,0,11,1,49,0.5,108,6,...,749,810,1773,15,8,7,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1700,1,1.9,0,0,1,54,0.5,170,7,...,644,913,2121,14,8,15,1,1,0,2
996,609,0,1.8,1,0,0,13,0.9,186,4,...,1152,1632,1933,8,1,19,0,1,1,1
997,1185,0,1.4,0,1,1,8,0.5,80,1,...,477,825,1223,5,0,14,1,0,0,1
998,1533,1,0.5,1,0,0,50,0.4,171,2,...,38,832,2509,15,11,6,0,1,0,2
999,1270,1,0.5,0,4,1,35,0.1,140,6,...,457,608,2828,9,2,3,1,0,1,2